.firstsection {
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    height: fit-content;
    width: 65%;
    padding: 60px;
    z-index: 14;
    scroll-snap-align: start;
  }

  @media (max-width: 600px) {
    .firstsection {
      padding: 14px;
      text-align: center;
    }
  }

  @media (max-width: 1156px) {
    .firstsection {
      width: 100%;
    }
  }