.fourthsection {
    position: relative;
    background-color: #dfdfdf7d;
    overflow: hidden;
    height: fit-content;
    width: 100%;
    z-index: 16;
    padding-bottom: 20px;
  }

  .textBox {
    border: 0.15em solid rgba(128, 0, 128, 0);
    color: black;
    flex-basis: 100%;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
    background-color: #f2f2f2;
    width: 25vh;
  }
  .submitbutton {
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding: 10px;
    font-size: 20px;
    width: 30%;
    height: 50px;
    align-self: center;
    align-items: stretch;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 10px;
    border: none;
    color: white;
    cursor: pointer;
    background: rgba(173,76,144,.788);
    
  }
  .textBox:hover {
    background: rgb(219, 219, 219);
  }
  .submitbutton:hover {
    transition: all .5s ease-out;
    background: rgb(207, 87, 171);
  }

  .grid-container {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 5rem;
    padding-bottom: 30px;
  }
  
  .error {
    position: relative;
    width: 40px;
    align-self: baseline;
  }
  
  .success {
    border-color: green;
  }

  .input-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .inputGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }

  .rowFlex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .contactmebox {
    border-radius: 10px;
    height: fit-content;
    background: linear-gradient(90deg, rgba(46, 46, 46, 0.507) 12%, rgba(46, 46, 46, 0.705) 84%);
    position: relative;
    animation: fadeIn 0.5s forwards;
    padding: 1vh;
    font-size: 1.8vh;
    z-index: 11;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .hide {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    position: relative;
    animation: fadeIn 0.5s forwards;
  }
 
  @media (max-width: 850px) {
    .hide {
      display: none !important;
    }
    
  
    .grid-container {
      display: unset;
    }
  }

  @media (max-width: 542px) {
    .inputGrid {
      grid-template-columns: 1fr;
    }
  }