.thirdsection {
    position: relative;
    box-sizing: border-box;
    background-image: radial-gradient(#ef008f8f , #09090900 70%);
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
    overflow: visible;
    height: fit-content;
    width: 100%;
    z-index: 16;
}

.desctypewriter.work .image-description {
  word-wrap: break-word;
  overflow: visible;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1vw;
}

.sentimentanalysis,
.everx,
.snakie {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  background: rgba(15, 15, 15, 0.932);
  border: 1px rgb(163 163 163 / 25%) solid;
  transition: all 0.2s ease-out !important;
  border-radius: 5px;
  padding: 20px;
}

.sentimentanalysis:hover, .everx:hover, .snakie:hover {
  border: 1px rgba(255, 255, 255, 0.527) solid !important;
  background: rgba(20, 20, 20, 0.884) !important;
  transition: all 0.2s ease-out  !important;
  scale: 1.020;
}

.tilt {
  width: 60%;
}

@media (max-width: 600px) {
  .thirdsection {
    padding: 0px;
  }
}

@media (max-width: 1292px) {
    .work {
      flex-direction: column;
    }
    .tilt {
      width: 100%;
    }
  }