.thirdsection {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0px;
    border-radius: 20px;
    gap: 20px;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
    overflow: visible;
    height: fit-content;
    width: 100%;
    z-index: 16;
}

.desctypewriter.work .image-description {
  word-wrap: break-word;
}

.sentimentanalysis,
.everx,
.snakie {
  display: flex;
  align-self: center;
  width: 60%;
  flex-direction: column;
  align-items: center;
  color: white;
  background: radial-gradient(ellipse at top, #454a55 0%, #ffffff00 100%);
  border: 1px rgba(83, 83, 83, 0.25) solid;
  transition: all 0.2s ease-out !important;
  border-radius: 5px;
  padding: 20px;
  backdrop-filter: blur(2px);
}

.sentimentanalysis:hover, .everx:hover, .snakie:hover {
  border: 1px rgba(255, 255, 255, 0.527) solid !important;
  transition: all 0.2s ease-out  !important;
  scale: 1.010;
}

.tilt {
  width: 60%;
}

@media (max-width: 600px) {
  .thirdsection {
    padding: 0px;
  }
}

@media (max-width: 1292px) {
    .work {
      flex-direction: column;
    }
    .sentimentanalysis, .everx, .snakie {
      width: 95%;
    }
  }