@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url("https://fonts.cdnfonts.com/css/stella-nova");
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Roboto&display=swap');

.App {
  background-color: #000000;
  height: fit-content;
  overflow: hidden;
}

.rowmenucontainer {
  position: relative;
  display: flex;
  height: 85vh;
  width: 100vw;
  z-index: 12;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20vw;
}

#gradient-canvas {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: -28vh;
  transform: skew(0deg, -8deg);
  animation: fadeIn 3s forwards;
  --gradient-color-1: #000000;
  --gradient-color-2: #dd0189;
  --gradient-color-3: #000000;
  --gradient-color-4: #000000;
  border: 2px solid #ffffff56;
  z-index: 1;
}

.arrow {
  position: absolute;
  color: white;
  top: 85vh;
  z-index: 2;
}

.topblackspace {
  position: absolute;
  background-image: url('./resources/topblackgap.svg');
  top: 75vh;
  height: 30vh;
  width: 100%;
}

.fillblackspace {
  position: absolute;
  background-image: url('./resources/blackgaps.svg');
  top: 184vh;
  height: 17vh;
  width: 100%;
}

.blackspace2 {
  position: absolute;
  background-image: url('./resources/2ndblackgap.svg');
  top: 279vh;
  height: 17vh;
  width: 100%;
}

.blackspace3 {
  position: absolute;
  background-image: url('./resources/blackgapsbottom.svg');
  top: 375vh;
  height: 15vh;
  width: 100%;
}

.shapes {
  position: absolute;
  background-image: url('./resources/shapes.svg');
  height: 30vh;
  width: 100%;
  z-index: 15;
}

@media (max-width: 1156px) {
  .fade {
    background: linear-gradient(90deg, #00122000, transparent 10%, transparent 90%, #00122000) !important;
    ;
  }
}

.sections {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  top: 9vh;
  padding: 25px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  border-start-start-radius: 150px;
  border-start-end-radius: 150px;
  border: 2px dashed #ffffff56;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.textBox {
  font-family: "Stella Nova", sans-serif;
  padding: 10px;
  font-size: 15px;
  border-radius: 50px;
  margin-bottom: 10px;
  background-color: rgb(15, 15, 15);
  border: none;
  transition: all .2s ease-out;
  color: white;
}

p {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 23px;
}

@media (max-width: 1390px) {

  .thirdsection,
  .secondsection,
  .firstsection,
  .fourthsection {
    height: fit-content;
  }

  .sections {
    margin: 0;
    padding: 0;
  }

  .App {
    height: fit-content;
  }
}

@media (max-width: 526px) {
  .textBox {
    width: 30vw;
  }
}

h2 {
  position: relative;
  font-size: 6vh;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Damion';
  text-align: center;
  z-index: 100;
}

.desctypewriter {
  position: absolute;
  animation: fadeIn 0.5s forwards;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2vh;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  z-index: 17;
}

@media (max-width: 1666px) {
  .hide {
    display: none !important;
  }

  .contactmebox {
    left: 50%;
    transform: translate(-50%, 0px);
  }
}


@media (max-width: 800px) {
  .tag-list {
    display: none !important;
  }
}

.projectslist {
  top: 50%;
  animation: fadeIn 0.5s forwards;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.desctypewriterskills {
  position: absolute;
  text-align: justify;
  animation: fadeIn 0.5s forwards;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 45%;
  z-index: 11;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #3d3d3d;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border: 1.5px solid #646464;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* ---------------------------------------------------------------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


@-moz-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}