@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.App {
  position: relative;
  display: flex;
  background-color: #000000;
  height: 450vh;
}

.navbar {
  display: flex;
  position: fixed;
  gap: 5vw;
  width: 100%;
  height: 5vh;
  top: 0vh;
  background-color: #000000d2;
  border-radius: 1px;
  z-index: 18;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.1em;
  padding-left: 5vw;
  padding-right: 5vw;
  transition: transform 0.3s ease-in-out;
}

.navbar.visible {
  transform: translateY(0);
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbaritem {
  position: relative;
  z-index: 19;
  font-family: 'Questrial';
  color: white;
  font-Size: 2vh
}

.rowmenucontainer {
  position: absolute;
  display: flex;
  height: 95vh;
  width: 100%;
  z-index: 12;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0vh;
}

#gradient-canvas {
  position: absolute;
  width:100%;
  height:100vh;
  --gradient-color-1: #ef008f;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #7038ff;
  --gradient-color-4: #e2e2e2;
  z-index: 1;
}

.arrow {
  position: absolute;
  color: white;
  opacity: 0;
  top: 92vh;
  z-index: 2;
}

.fadeout {
  position: absolute;
  opacity: 1;
  top: 51vh;
  width: 100%;
  height: 49vh;
  /*background: linear-gradient(180deg, rgb(56 56 56 / 5%) 1%, rgb(0 0 0 / 46%) 20%, rgb(0 0 0) 60%, rgb(0 0 0) 100%);*/
  background: #000000;
  z-index: 2;
}

.gradientcover {
  position: absolute;
  transform: rotateY(180deg);
  background-image: url('./gradientcover.svg');
  top: 6vh;
  height: 47vh;
  width: 100%;
  z-index: 2;
}

.topblackspace {
  position: absolute;
  background-image: url('./topblackgap.svg');
  top: 75vh;
  height: 30vh;
  width: 100%;
}

.fillblackspace {
  position: absolute;
  background-image: url('./blackgaps.svg');
  top: 169vh;
  height: 32vh;
  width: 100%;
}

.blackspace2 {
  position: absolute;
  background-image: url('./2ndblackgap.svg');
  top: 278vh;
  height: 17vh;
  width: 100%;
}

.blackspace3 {
  position: absolute;
  background-image: url('./blackgapsbottom.svg');
  top: 375vh;
  height: 15vh;
  width: 100%;
}

.shapes {
  position: absolute;
  background-image: url('./shapes.svg');
  top: 170vh;
  height: 30vh;
  width: 100%;
  z-index: 100;
}

.shapes2 {
  position: absolute;
  background-image: url('./shapes2.svg');
  height: 80vh;
  width: 100%;
  z-index: 17;
}

.bottomshapes {
  position: absolute;
  background-image: url('./Sprinkle.svg');
  height: 50vh;
  width: 100%;
  z-index: 17;
}

  
@media (max-width: 1780px) {
  .fade {
    background: linear-gradient(90deg, #00122000, transparent 10%, transparent 90%, #00122000) !important;;
  }
}

.firstsection {
  position: absolute;
  border-radius: 10px;
  box-sizing: border-box;
  background-image: url('./layered-waves.svg');
  top: 105vh;
  height: 80vh;
  width: 100%;
  overflow: auto;
  z-index: 16;
}

.secondsection {
  position: absolute;
  border-radius: 10px;
  box-sizing: border-box;
  background-image: url('./layered-waves2.svg');
  top: 200vh;
  height: 80vh;
  width: 100%;
  overflow: auto;
  z-index: 16;
}

.thirdsection {
  position: absolute;
  border-radius: 10px;
  box-sizing: border-box;
  background-image: url('./layered-waves3.svg');
  top: 295vh;
  height: 80vh;
  width: 100%;
  overflow: auto;
  z-index: 16;
}

.fourthsection {
  position: absolute;
  box-sizing: border-box;
  background-image: url('./bottomwave.svg');
  background-color: #0a0a0a;
  top: 400vh;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  z-index: 16;
}

h2 {
  position: relative;
  font-size: 6vh;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Damion';
  text-align: center;
  z-index: 100;
}

.desctypewriter {
  position: absolute;
  animation: fadeIn 0.5s forwards;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2vh;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';
  z-index: 17;
}

input[type="text"] {
  border: 0.15em solid purple;
  border-radius: 4px;
  padding: 5px;
  background-color: #f2f2f2;
  height: 5%;
  width: 25vh;
}

.textarea {
  border: 0.15em solid purple;
  border-radius: 4px;
  padding: 5px;
  background-color: #f2f2f2;
  height: 5%;
  width: 25vh;
}

.submitbutton {
  cursor: pointer;
  position: relative;
  mix-blend-mode: overlay;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.contactmebox {
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(46, 46, 46, 0.507) 12%, rgba(46, 46, 46, 0.705) 84%);
  position: relative;
  text-align: justify;
  animation: fadeIn 0.5s forwards;
  padding: 1vh;
  font-size: 1.8vh;
  height: 28vh;
  z-index: 11;
  flex: 3;
}


@media (max-width: 800px) {
  .tag-list {
    display: none !important;
  }
}

.projectslist {
  top: 50%;
  animation: fadeIn 0.5s forwards;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.sentimentanalysis, .algo, .snakie {
  display: flex;
  flex-direction: column;
}

.typewriter {
  position: relative;
  width: 40%;
  pointer-events: none;
  z-index: 11;
}

.desctypewriterskills {
  position: absolute;
  text-align: justify;
  animation: fadeIn 0.5s forwards;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 45%;
  z-index: 11;
}

.skillswork {
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(64 64 64 / 42%) 12%, rgb(64 64 64 / 42%) 84%);
  animation: fadeIn 0.5s forwards;
  overflow: auto;
  margin-top: 2vh;
  padding: 2%;
  z-index: 11;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: #3d3d3d;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 1.5px solid #646464;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.cursor {
  animation: blink 0.5s infinite;
  color: #fff;
  font-weight: normal;
  font-family: 'Poppins';
}

.lines2 {
  align-self: center;
  width: 90%;
  border-radius: 50px;
  left: 5%;
  height: 4px;
  background: linear-gradient(90deg, rgb(64 64 64 / 42%) 12%, rgb(26 26 26 / 77%) 50%, rgb(64 64 64 / 42%) 84%);
  color: darkgrey;
  position: absolute;
  opacity: 0;
  top: 85%;
}

.lines1 {
  align-self: center;
  width: 90%;
  border-radius: 50px;
  left: 5%;
  height: 4px;
  background: linear-gradient(90deg, rgb(64 64 64 / 42%) 12%, rgb(26 26 26 / 77%) 50%, rgb(64 64 64 / 42%) 84%);
  color: darkgrey;
  position: absolute;
  opacity: 0;
  top: 17%;
}

.csharp {
  display: flex;
  text-align: left;
  align-self: center;
  width: 65%;
  border-radius: 50px;
  height: 3px;
  background: linear-gradient(90deg, rgb(155 155 155 / 64%) 30%, rgba(0, 0, 128, 0.95) 32%);
  animation: fadeIn 0.5s forwards;
  opacity: 1;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.htmlcss {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  align-self: center;
  width: 65%;
  border-radius: 50px;
  height: 3px;
  background: linear-gradient(90deg, rgb(155 155 155 / 64%) 19%, rgba(197, 107, 22, 0.95) 20%);
  animation: fadeIn 0.5s forwards;
  opacity: 1;
}

.java {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  align-self: center;
  width: 65%;
  border-radius: 50px;
  height: 3px;
  background: linear-gradient(90deg, rgb(155 155 155 / 64%) 15%, rgba(184, 178, 11, 0.95) 16%);
  animation: fadeIn 0.5s forwards;
  opacity: 1;
}

.python {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  align-self: center;
  width: 65%;
  height: 3px;
  background: linear-gradient(90deg, rgb(155 155 155 / 64%) 1%, rgba(45, 194, 231, 0.95) 2%);
  animation: fadeIn 0.5s forwards;
  opacity: 1;
}

h1 {
  position: relative;
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Damion';
  text-align: center;
  z-index: 3;
}

.backdropcontainer {
  position: relative;
  border: 0px solid rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(12 12 12 / 99%) 12%, rgb(0 0 0 / 77%) 50%, rgb(12 12 12 / 99%) 84%);
  backdrop-filter: blur(10px);
  transition: transform 202ms ease-in-out;
  font-weight: normal;
  font-size: 18px;
  font-family: 'Poppins';
  text-align: center;
  align-self: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: white;
  height: 0%;
  width: 80%;
  z-index: 11;
}

.aboutmecontainer {
  position: absolute;
  animation: moveupdown 2.5s ease-in-out infinite;
  height: 50px;
  width: 314px;
  opacity: 0%;
  z-index: 12;
  pointer-events: auto;
}

.projectscontainer {
  position: absolute;
  animation: moveupdown 2.5s ease-in-out infinite;
  height: 50px;
  width: 314px;
  opacity: 0%;
  z-index: 12;
  pointer-events: auto;
}

.skillscontainer {
  position: absolute;
  animation: moveupdown 2.5s ease-in-out infinite;
  height: 50px;
  width: 314px;
  opacity: 0%;
  z-index: 12;
  pointer-events: auto;
}

.contactcontainer {
  position: absolute;
  animation: moveupdown 2.5s ease-in-out infinite;
  height: 50px;
  width: 314px;
  opacity: 0%;
  z-index: 12;
  pointer-events: auto;
}

/* ---------------------------------------------------------------- */

.aboutmeswap {
  position: relative;
  height: 50px;
  width: 314px;
  z-index: 99;
  }

.projectsswap {
  position: relative;
  height: 50px;
  width: 314px;
  z-index: 99;
}

.skillsswap {
  position: relative;
  height: 50px;
  width: 314px;
  z-index: 99;
}

.contactswap {
  position: relative;
  height: 50px;
  width: 314px;
  z-index: 99;
}


.projects {
  position: relative;

  border: 0px solid rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  background: linear-gradient(45deg, rgba(173, 76, 144, 0.788) 12%, rgba(88, 56, 128, 0.582) 84%);
  box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 1);
  transition: transform 202ms ease-in-out;
  font-weight: normal;
  font-size: 30px;
  font-family: 'Poppins';
  letter-spacing: 4px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.aboutme {
  position: relative;
  border: 0px solid rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  background: linear-gradient(45deg, rgba(173, 76, 144, 0.788) 12%, rgba(88, 56, 128, 0.582) 84%);
  box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 1);
  transition: transform 202ms ease-in-out;
  font-weight: normal;
  font-size: 30px;
  font-family: 'Poppins';
  letter-spacing: 4px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.skills {
  position: relative;
  border: 0px solid rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  background: linear-gradient(45deg, rgba(173, 76, 144, 0.788) 12%, rgba(88, 56, 128, 0.582) 84%);
  box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 1);
  transition: transform 202ms ease-in-out;
  font-weight: normal;
  font-size: 30px;
  font-family: 'Poppins';
  letter-spacing: 4px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.contact {
  position: relative;

  border: 0px solid rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  background: linear-gradient(45deg, rgba(173, 76, 144, 0.788) 12%, rgba(88, 56, 128, 0.582) 84%);
  box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 1);
  transition: transform 202ms ease-in-out;
  font-weight: normal;
  font-size: 30px;
  font-family: 'Poppins';
  letter-spacing: 4px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.red-cursor {
  color: rgba(173, 173, 173, 0.637);
  font-size: 35px;
}

.aboutme:hover,
.projects:hover,
.skills:hover,
.contact:hover {
  transform: translate(0px, -20px) scale(1.3, 1.3);
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveupdown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(9px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.tag-list {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
  }
  
  .loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
  }
  
  .tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #334155;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  box-shadow:
  0 0.1rem 0.2rem rgb(0 0 0 / 20%),
  0 0.1rem 0.5rem rgb(0 0 0 / 30%),
  0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  }
  
  .tag span {
  font-size: 1.2rem;
  color: #64748b;
  }

  .fade {
  pointer-events: none;
  background: linear-gradient(90deg, #001220, transparent 10%, transparent 90%, #001220fa);
  position: absolute;
  inset: 0;
  border: 3px solid transparent;
  border-image: linear-gradient(90deg, #001220, transparent 10%, transparent 90%, #001220fa) 1;
}
  
  @keyframes loop {
  0% {
  transform: translateX(0);
  }
  100% {
  transform: translateX(-50%);
  }
  }